/*ELEMENTI VERSIONE DESKTOP*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.6px;
    color: white;
    background-color: rgb(242 , 245, 248);
    margin: 0px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    height: 600px;

    background-image: url(./images/header.jpg);
    background-position: center;
    background-size: cover;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, .3);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    display: flex;
    align-items: center;

    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.570);
    height: 12%; 
}

#link {
    flex-grow: 1;
    text-align: right;
    font-size: 1em;
    margin-right: 4%; 
}

#link a {
    margin: 2%; 
}

#link a:hover {
    padding: 2px 0px;
    border-bottom: 2px solid white;
    cursor: pointer;
}

#link a:active {
    color: rgb(80, 95, 154);
    border-color: rgb(80, 95, 154);
}

#name {
    margin-left: 4%;
    font-size: 1.9em;
}

#header-title {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    z-index: 2;
}

#user-info  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

#user-info img {
    height: 100px;
    width: 100px;
    border: 2.5px solid white;
    border-radius: 50%;
    margin-top: -50px;
    margin-bottom: 5px;
    z-index: 2;
}

#user-info p {
    font-size: 1.2em;
    margin: 4px;
}

#user-info #description {
    font-size: 0.9em;
}

#user-info div {
    background-color: gray;
    height: 1.5px;
    width: 40%;

    margin-top: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: bold;

    margin-top: 2%;
    margin-bottom: 6%;
}

#main-content {
    width: 70%;
}

#intro {
    text-align: center;
    line-height: 150%;
}

article {
    margin-top: 8%;
    display: flex;
}

.number {
    font-size: 2.5em;
    color: gray;
    margin-right: 40px;
    display: inline;
    flex-grow: 1;
}

section .container {
    display: inline-block;
}

article h1 {
    font-size: 1.8em;
    margin-top: 6px;
    margin-bottom: 0px;
}

article h2 {
    color: blue;
    font-size: 1.2em;
    margin-top: 8px;
    width: max-content;
}

article p {
    font-size: 1em;
    font-weight: normal;
}

article img {
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgba(0, 0, 0, 0.684);
    height: 80px;
}

footer a {
    margin: 40px;
}

/*ELEMENTI VERSIONE MOBILE*/
#menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;

    flex-grow: 1;
    margin-right: 7%;
}

#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
    display: block;
}

/*MEDIA QUERY PER MOBILE*/

@media (max-width: 730px) {
    body {
        font-size: 10px;
    }

    #link {
        display: none;
    }

    #menu {
    display: flex;
    }

    #name{
        margin-left: 6%;
        font-size: 2em;
    }

    header {
        height: 210px;
    }

    #header-title {
        font-size: 2.5em;
    }

    nav {
        height: 20%;
    }

    #user-info img {
        height: 60px;
        width: 60px;
        margin-top: -32px;
        border: 1.8px solid white;
    }

    #user-info p {
        font-size: 1em;
        margin-top: -2px;
    }

    #user-info #description {
        font-size: 0.6em;
    }

    #user-info div {
        margin-top: 5px;
        height: 1.5px;
    }

    #main-content {
        width: 90%;
        margin-top: -2%;
    }

    #intro {
        font-size: 0.8em;
    }
    
    .number {
        font-size: 2em;
        margin-right: 6px;
    }

    article h1 {
        font-size: 1.8em;
        margin-top: 1px;
    }

    article h2 {
        font-size: 1.2em;
        margin-top: 3px;
    }

    article p {
        font-size: 0.8em;
    }

    footer {
        height: 30px;
    }

    footer a {
        font-size: 0.6em;
    }
}
