/* TODO: inserite il CSS necessario per completare il MHW! */

.choice-grid {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}


.choice-grid div {
    width: 32.5%;
    margin-top: 20px;
    /*MANCANO 20px DI MARGIN BOTTOM*/
    background-color: #f4f4f4;
    border: 1px solid #dcdcdc;
}

.choice-grid img {
    width: calc(100% - 20px);
    height: auto;
    margin: 10px;
  }

  .choice-grid img.checkbox {
    height: 20px;
    width: 20px;
    display: block;
  }

  .question-name {
    background-size: cover;
  }

  .question-name h1 {
    font-size: 2.5em;
  }

  .choice-grid div.unselected {
    background-color: #f4f4f4;
  }

  .unselected{
    opacity: 0.6;

  }

  .selected{
    opacity: 1;
  }

  .choice-grid div.selected {
    background-color: #cfe3ff;
  }

  #results {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
  }

  #results h1{
    margin-top: 0px;
  }

  #results p {
    margin-top: 18px;
    margin-bottom: 18px;
  }

  .button {
    display: flex;
    background-color: #cecece;
    height: 50px;
    align-items: center;
    justify-content: center;
  }

  .button:hover {
    background-color:#e0e0e0;
  }

@media (max-width: 700px) {
    article {
        width: 95%;
    }

    header div {
        display: none;
    }
}

@media (max-width: 500px) {
    .choice-grid div {
        width: 49%;
    }
}